.contacts-list {
  /* border: solid black 1px; */
  min-height: 95vh;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacts {
  /* border: solid red 1px; */
  min-height: 50vh;
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: wrap;
  gap: 25px;
}
.contact-item {
  /* border: solid rgb(21, 83, 209) 1px; */
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px;
  border-radius: 20px;
  background-color: antiquewhite;
}
.add-contact-form {
  width: 100%;
}
